.weather {
    color: #2c3e50;
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
    top: 0px;
    left: 12px;
    z-index: 500;
    width: 15% !important;
}

/* .weather-input{
      height: 4vh;
} */

.temp h5 {
    color: #237cc5;
    /* font-family: 'Poiret One', cursive; */
    font-weight: bolder;
     font-size: 3.7em;
}

.weather h4 {
    color: #237cc5;
    /* font-family: 'Poiret One', cursive; */
    font-weight: bolder;
}