
.weather-input{
    font-size: 0.5em;

}

h5{
    font-size: 3em;
    font-weight: bolder;
}

.city{
   font-family: 'Lantinghei';
   font-style: italic;
   opacity: 0.5;
   font-size: 0.75em;
}

#weather{
    /* background-color: red; */
    align-self: center;
    text-align: center;
}

