

h2{
  font-size: 2em;
  font-family: Helvetica;
  font-weight: bolder;
}

h3{
  color: blue;
  font-weight: bolder;
  font-family: Helvetica;
  font-size: 3em;
}


 /* --------------------------------------- CLASSES -------------------------- */



.toDo{
  border-right: 8px solid blue;
}

.btn-primary{
  background-color: blue;
  border-color: blue;
}



 /* --------------------------------------- IDS -------------------------- */

 #header {
  display: flex;
  justify-content: space-around;
  background-color: blue;
  color: white;
  text-align: left;
  font-size: 2.2em;
}

#masterContainer{
  height: 100vh;
}

#newsDiv{
  height: calc(100vh - 350px);
  overflow: scroll;
  /* background-color: pink; */

}

#newsAndToDo{
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
}

/* #news{
  background-color: green;

} */




