

h2{
  font-size: 2em;
  font-family: Helvetica;
  font-weight: bolder;
}

h3{
  color: blue;
  font-weight: bolder;
  font-family: Helvetica;
  font-size: 3em;
}


 /* --------------------------------------- CLASSES -------------------------- */



.goodMorning{
  width: 50%;
}

.toDo{
  border-right: 8px solid blue;
  text-align: center;
}




 /* --------------------------------------- IDS -------------------------- */

 #header {
  background-color: blue;
  font-size: 50px;
  color: white;
  text-align: left;
}

