

h2{
  font-size: 2em;
  font-family: Helvetica;
  font-weight: bolder;
}




 /* --------------------------------------- CLASSES -------------------------- */



.goodMorning{
  width: 50%;
}





 /* --------------------------------------- IDS -------------------------- */

 #header {
  background-color: blue;
  font-size: 50px;
  color: white;
  text-align: left;
}

